Django>=6.0,<7.0
dj-database-url>=3.1.0,<4.0.0
psycopg2-binary>=2.9,<3.0
django-allauth[socialaccount]>=65.13.1,<66.0.0
django-anymail[mailgun]>=14.0,<15.0.0
django-widget-tweaks>=1.5.1,<2.0.0
whitenoise[brotli]>=6.11.0,<7.0.0
gunicorn>=25.0.1,<26.0.0